torch
torchvision
torchaudio
huggingface_hub
accelerate
transformers
datasets
peft==0.12.0
bitsandbytes>=0.44.0
trl==0.10.1
rouge-score
bert-score
sacrebleu
scikit-learn
pandas
numpy
matplotlib
seaborn
wandb
kaggle